<header class="flex flex-col items-center gap-6 relative z-10">
  <div
    class="h-[200px] w-[200px] rounded-full bg-primary filter blur-2xl bg-blend-lighten opacity-20 absolute top-12 left-6 aminate-delay-6 -z-10"
  ></div>
  <div
    class="h-[200px] w-[200px] rounded-full bg-secondary filter blur-2xl bg-blend-lighten opacity-20 absolute top-16 left-48 animate-blob aminate-delay-2"
  ></div>

  <div
    class="h-[200px] w-[200px] rounded-full bg-primary filter blur-2xl bg-blend-lighten opacity-20 absolute top-24 left-1/2 animate-blob aminate-delay-4"
  ></div>

  <div
    class="h-[200px] w-[200px] rounded-full bg-secondary filter blur-2xl bg-blend-lighten opacity-20 absolute top-24 right-6 aminate-delay-2 -z-10"
  ></div>

  <div class="md:px-24">
    <h1
      class="md:text-3xl text-xl font-bold gradient-text text-center py-6 md:px-24 px-6"
    >
      AI Prompt Marketplace - Unleash the Power of Artificial Intelligence for
      Creative Inspiration
    </h1>

    <h3
      class="md:text-md text-sm gradient-text text-center md:pt-2 md:px-24 px-6"
    >
      Discover Limitless Possibilities, Generate Brilliant Ideas, and Fuel Your
      Creativity with AI-Powered Writing Prompts
    </h3>
  </div>

  <div class="flex gap-2 items-center">
    <button class="btn flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z"
        />
      </svg>

      Get started
    </button>
    <button class="btn-outline flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
        />
      </svg>

      Explore prompts
    </button>
  </div>
</header>
